---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  class="block mx-auto px-8 py-2 max-w-48 bg-zinc-800 hover:bg-zinc-900 focus:bg-zinc-900 text-white text-center rounded-full transition-colors"
  href={href}
>
  <slot />
</a>
