---
import { pub } from "../utils";
---

<footer class="footer">
  <div
    class="flex items-center justify-center gap-16 mx-auto px-4 py-6 max-w-3xl"
  >
    <div>@tenjo-t</div>
    <a href="https://github.com/tenjo-t/reso-su" class="flex gap-2">
      <img class="w-6" src={pub("logo/github.svg")} alt="GitHubアイコン" />
      GitHub
    </a>
  </div>
</footer>
