---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<section class:list={["grid gap-12 mx-auto px-4 py-6 max-w-3xl", className]}>
  <slot />
</section>

<style>
  .section {
    background-color: var(--bg);
  }
</style>
